/*mobile size first */
main {
  width: 95%; /*makes it responsive */
  margin: 0 auto;
  max-width: 1140px;
}

main > div {
  display: inline-block;
}

.hidden{
  display: none;
}

.column1 {
  display: block;
  width: 100%;
  height: 300px;
  background-color: pink;
}

.column2 {
  display: block;
  width: 100%;
  height: 300px;
  background-color: red;
}

/* this is a basic media query */

/* change the layout when we're viewing the app on a phone */

@media screen and (min-device-width: 641px) {


  .column1 {
    display: inline-block;
    background-color: blue;
    width: 24%;
  }

  .column2 {
    display: inline-block;
    background-color: purple;
    width: 24%;
  }

  .column3 {
    display: inline-block;
    background-color: grey;
    height: 300px;
    width: 24%;
  }

  .column4 {
    display: inline-block;
    background-color: brown;
    height: 300px;
    width: 24%;
  }

}
